@model MoviesApp.ViewModels.MovieViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
	<h4>Movie</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			<label asp-for="Title"></label>
		</dt>
		<dd class="col-sm-10">
			@Model.Title
		</dd>
		<dt class="col-sm-2">
			<label asp-for="ReleaseDate"></label>
		</dt>
		<dd class="col-sm-10">
			@Model.ReleaseDate.ToString("dd.MM.yyyy")
		</dd>
		<dt class="col-sm-2">
			<label asp-for="Genre"></label>
		</dt>
		<dd class="col-sm-10">
			@Model.Genre
		</dd>
		<dt class="col-sm-2">
			<label asp-for="Price"></label>
		</dt>
		<dd class="col-sm-10">
			@Model.Price
		</dd>
	</dl>
	<hr />
	<h3>Actors</h3>
	@if (Model.Actors.Count() != 0)
	{
		<div class="card-group">
			@foreach (var item in Model.Actors)
			{
				<form method="post" asp-controller="Movies" asp-action="Details" asp-route-actorId="@item.ActorId">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">@item.Actor.FirstName @item.Actor.LastName</h5>
							<p class="card-text">Age: @item.Actor.Age</p>
							<p class="card-text">Birthday: @item.Actor.Birthday.ToString("dd.MM.yyyy")</p>
							<p class="card-text">Town: @item.Actor.Town</p>
							<input type="hidden" class="form-control" value="@Model.Id" asp-for="@Model.Id" />
							<a class="btn btn-primary" asp-controller="Actors" asp-route-id="@item.ActorId" asp-action="Details">Details</a>
							@if (User.IsInRole("Admin"))
							{
								<input class="btn btn-danger" type="submit" value="Detach" asp-action="Details" asp-controller="Movies" asp-route-id="@Model.Id" asp-route-actorId="@item.ActorId" />
							}

						</div>
					</div>
				</form>
			}
		</div>
	}
	else
	{
		<h6 class="card-title">In the movie @Model.Title no actors were cast.</h6>
	}
	<hr />
	@if (User.IsInRole("Admin"))
	{
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Added actors</h5>
				<p class="card-text">If you want to add a new actor, click the button</p>
				<a class="btn btn-primary" asp-controller="MoviesActors" asp-action="AddActor" asp-route-id="@Model.Id">Create now</a>
			</div>
		</div>
		<hr />
	}
</div>
<div>
	@if (User.IsInRole("Admin"))
	{
		<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
	}
	<a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>